body {
  background-color: black;
}

.cover-subtitle {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.drumpad {
  height: 10rem;
  width: 10rem;
  border-radius: 0.3125rem;
  border-top: 3px solid #4b4b4b;
  border-right: 3px solid #4b4b4b;
  border-bottom: 9px solid #4b4b4b;
  border-left: 3px solid #4b4b4b;
  background: #000;
  color: #4b4b4b;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
}

.drumpad:active {
  height: calc(10rem - 9px);
  border-top: 3px solid rgb(207, 77, 77);
  border-right: 3px solid rgb(207, 77, 77);
  border-bottom: 3px solid rgb(207, 77, 77);
  border-left: 3px solid rgb(207, 77, 77);
  color: rgb(207, 77, 77);
  margin: 9px 0 0;
}

footer {
  color: #505050;
  font-family: 'Times New Roman';
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}
